<div class="jumbotron vertical-center">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 mx-auto">
            <div class="login-form">
                <form [formGroup]="loginFormGroup" (ngSubmit)="doLogin(loginFormGroup.value)">
                    <h2 class="text-center">Login</h2>

                    <div class="alert alert-danger" *ngIf="loginStatus != null">
                        <div *ngIf="loginStatus === 'ACCOUNT_NOT_EXISTING'">L'account specificato non esiste!</div>
                        <div *ngIf="loginStatus === 'WRONG_PASSWORD'">La password inserita non è corretta!</div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="mario.rossi@esempio.it" formControlName="email" required="required">
                        <div *ngIf="email.errors?.email" class="alert alert-danger">
                            Inserire un indirizzo email valido
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button [disabled]="!loginFormGroup.valid" class="btn btn-primary btn-block" type="submit">Accedi</button>
                    </div>
                    <div class="clearfix">
                        <a href="#" class="pull-right">Password dimenticata?</a>
                    </div>
                </form>
                <p class="text-center">
                    <a (click)="register()">Crea un Account</a>
                </p>
            </div>

        </div>
    </div>
</div>